.path-local-course_creator #mform1 #id_course_create_header .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

.path-local-course_creator #mform1 #id_course_create_header .col-md-9 .form-check-inline {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: left;
}

.path-local-course_creator .course_create_stage {
    margin-bottom: 25px;
}

/**
 * Support 4.5 - 4.7, which are still in use and don't have the .visually-hidden class.
 */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}