
<div class="container-fluid tertiary-navigation" id="action_bar">
    <div class="d-flex">
        {{#navigation}}
            <div class="navitem">
                {{> core/tertiary_navigation_selector}}
            </div>
        {{/navigation}}

        <div class="action-buttons ms-auto">
            {{#actionbuttons}}
                <a href="{{{url}}}" class="btn btn-secondary">{{{label}}}</a>
            {{/actionbuttons}}
        </div>
    </div>
</div>
